$primary-font: 'Montserrat', sans-serif;
$display-font: 'Poppins', sans-serif;
$head-foot-background-color:#fff2d9;
$body-background-color: #FFF7EC;
$secondary-background-color: #80AEBD;
$accent-color: #4C5766;
$accent-color2: #d13d25;
$accent-color3: #FBF7EE;
$nav-color:#ff6a3a;
$text-color1:black;
$text-color2:#FFF2D9;
$text-color3: #7F7F7F;
$image-bg-color:#ffd380;
$icon-color: #D13D25;
$mobile: 414px;
